<p>Hi <%=@passenger.name %></p>
<p>Thank you for booking your flight with us. You booking is now confirmed. Please see below your booking information.</p>
<p></p>
<p></p>
<h3>You Booking Information</h3>
<table>
		<thead>
			<tr>
				<th>Flight Number</th>
				<th>From</th>
				<th>To</th>
				<th>Start Time</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @flight.flight_number %></td>
				<td><%= @flight.from_airport.airport_code %></td>
				<td><%= @flight.to_airport.airport_code %></td>
				<td><%= @flight.start_time %></td>
				<td><%= "#{@flight.duration_in_minutes/60}h #{@flight.duration_in_minutes%60}min" %></td>
			</tr>
		</tbody>
</table>	